__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.so
*.o
*.out
*.a
CMakeFiles/
CMakeCache.txt
cmake-build*/
dataset/
datasets/
droid/archive/data/
evaluation_scripts/*_results*/
gtsam/build/
droid_backends.egg-info/
.vscode/
.idea/
.DS_Store
gtsam/
